{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block content %}
	<!-- Sub banner start -->
<div class="sub-banner">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Blog Details</h1>
            <ul class="breadcrumbs">
                <li><a href="index.html">Home</a></li>
                <li class="active">Blog Details</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->

<!-- Blog body start -->
<div class="blog-body content-area-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <!-- Blog 1 start -->
                <div class="blog-1 blog-big mb-50">
                    <div class="blog-photo">
                        <img src="http://placehold.it/730x486" alt="blog-img" class="img-fluid">
                    </div>
                    <div class="detail">
                        <h3>
                            <a href="#">2018 Lexus GS F</a>
                        </h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five</p>
                        <p>electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.But also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. But also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.more recently with desktop publishing</p>
                        <p>essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. But also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.more recently with desktop publishing</p>
                        <br>
                        <div class="row clearfix">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="blog-tags">
                                    <span>Tags</span>
                                    <a href="#">Auto</a>
                                    <a href="#">Theme</a>
                                    <a href="#">Buy Car</a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="blog-social-list">
                                    <span>Share</span>
                                    <a href="#" class="facebook-bg">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                    <a href="#" class="twitter-bg">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                    <a href="#" class="google-bg">
                                        <i class="fa fa-google"></i>
                                    </a>
                                    <a href="#" class="linkedin-bg">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                    <a href="#" class="pinterest-bg">
                                        <i class="fa fa-pinterest"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Heading 2 -->
                <h3 class="heading-2">Comments Section</h3>
                <!-- Comments start -->
                <ul class="comments">
                    <li>
                        <div class="comment">
                            <div class="comment-author">
                                <a href="#">
                                    <img src="http://placehold.it/50x50" alt="comments-user">
                                </a>
                            </div>
                            <div class="comment-content">
                                <div class="comment-meta">
                                    <h6>
                                        Maikel Alisa
                                        <span class="float-right">11/28/2018<a href="#">Reply</a></span>
                                    </h6>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec luctus tincidunt aliquam. Aliquam gravida massa at sem vulputate interdum et vel eros. Maecenas eros enim  sem vulputate interdum et vel eros.</p>
                            </div>
                        </div>
                        <ul>
                            <li>
                                <div class="comment">
                                    <div class="comment-author">
                                        <a href="#">
                                            <img src="http://placehold.it/50x50" alt="comments-user">
                                        </a>
                                    </div>
                                    <div class="comment-content">
                                        <div class="comment-meta">
                                            <h6>
                                                Carolyn Stone
                                                <span class="float-right">11/28/2018<a href="#">Reply</a></span>
                                            </h6>
                                        </div>
                                        <P>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec luctus tincidunt aliquam. Aliquam gravida massa at sem vulputate interdum et.</P>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div class="comment">
                            <div class="comment-author">
                                <a href="#">
                                    <img src="http://placehold.it/60x60 " alt="comments-user">
                                </a>
                            </div>
                            <div class="comment-content">
                                <div class="comment-meta">
                                    <h6>
                                        Brandon Miller
                                        <span class="float-right">11/28/2018<a href="#">Reply</a></span>
                                    </h6>
                                </div>
                                <P>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec luctus tincidunt aliquam. Aliquam gravida massa at sem vulputate interdum et vel eros. Maecenas eros enim.</P>
                            </div>
                        </div>
                        <ul>
                            <li>
                                <div class="comment mb-50">
                                    <div class="comment-author">
                                        <a href="#">
                                            <img src="http://placehold.it/60x60 " alt="comments-user">
                                        </a>
                                    </div>
                                    <div class="comment-content b-none">
                                        <div class="comment-meta">
                                            <h6>
                                                Michelle Nelson
                                                <span class="float-right">11/28/2018<a href="#">Reply</a></span>
                                            </h6>
                                        </div>
                                        <P>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec luctus tincidunt aliquam. Aliquam gravida massa at sem vulputate interdum et vel eros. Maecenas eros enim.</P>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- Contact 2 start -->
                <div class="contact-2 ca mb-50">
                    <h3 class="heading-2">Contact Form</h3>
                    <form action="#" method="GET" enctype="multipart/form-data">
                        <div class="row">
                            <div class="form-group name col-md-6">
                                <input type="text" name="name" class="form-control" placeholder="Name">
                            </div>
                            <div class="form-group email col-md-6">
                                <input type="email" name="email" class="form-control" placeholder="Email">
                            </div>
                            <div class="form-group number col-md-6">
                                <input type="text" name="phone" class="form-control" placeholder="Number">
                            </div>
                            <div class="form-group number col-md-6">
                                <input type="text" name="subject" class="form-control" placeholder="Subject">
                            </div>
                            <div class="form-group message col-md-12">
                                <textarea class="form-control" name="message" placeholder="Write message"></textarea>
                            </div>
                            <div class="send-btn col-md-12">
                                <button type="submit" class="btn btn-md button-theme">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="sidebar-right">
                    <!-- Search box -->
                    <div class="widget search-box">
                        <h3 class="sidebar-title">Search</h3>
                        <div class="s-border"></div>
                        <form class="form-inline form-search" method="GET">
                            <div class="form-group">
                                <label class="sr-only" for="textsearch2">Looking for something</label>
                                <input type="text" class="form-control" id="textsearch2" placeholder="Looking for something">
                            </div>
                            <button type="submit" class="btn"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                    <!-- Recent posts start -->
                    <div class="widget recent-posts">
                        <h3 class="sidebar-title">Recent Posts</h3>
                        <div class="media mb-4">
                            <a class="pr-3" href="car-details.html">
                                <img class="media-object" src="http://placehold.it/60x60" alt="small-car">
                            </a>
                            <div class="media-body align-self-center">
                                <h5>
                                    <a href="car-details.html">Bentley Continental GT</a>
                                </h5>
                                <div class="listing-post-meta">
                                    $345,00 | <a href="#"><i class="fa fa-calendar"></i> Jan 12, 2019</a>
                                </div>
                            </div>
                        </div>
                        <div class="media mb-4">
                            <a class="pr-3" href="car-details.html">
                                <img class="media-object" src="http://placehold.it/60x60" alt="small-car">
                            </a>
                            <div class="media-body align-self-center">
                                <h5>
                                    <a href="car-details.html">Fiat Punto Red</a>
                                </h5>
                                <div class="listing-post-meta">
                                    $745,00 | <a href="#"><i class="fa fa-calendar"></i> Feb 26, 2019</a>
                                </div>
                            </div>
                        </div>
                        <div class="media">
                            <a class="pr-3" href="car-details.html">
                                <img class="media-object" src="http://placehold.it/60x60" alt="small-car">
                            </a>
                            <div class="media-body align-self-center">
                                <h5>
                                    <a href="car-details.html">Nissan Micra Gen5</a>
                                </h5>
                                <div class="listing-post-meta">
                                    $745,00 | <a href="#"><i class="fa fa-calendar"></i> Feb 14, 2019</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Posts By Category Start -->
                    <div class="posts-by-category widget">
                        <h3 class="sidebar-title">Category</h3>
                        <div class="s-border"></div>
                        <ul class="list-unstyled list-cat">
                            <li><a href="#">Luxury <span>(45)</span></a></li>
                            <li><a href="#">Pickup Truck <span>(21)</span> </a></li>
                            <li><a href="#">Sports Car <span>(19)</span></a></li>
                            <li><a href="#">Automakers <span>(22) </span></a></li>
                            <li><a href="#">Wagon <span>(9) </span></a></li>
                        </ul>
                    </div>
                    <!-- Tags box Start -->
                    <div class="widget tags-box">
                        <h3 class="sidebar-title">Tags</h3>
                        <div class="s-border"></div>
                        <ul class="tags">
                            <li><a href="#">Car Dealer</a></li>
                            <li><a href="#">Auto</a></li>
                            <li><a href="#">Car Website</a></li>
                            <li><a href="#">Automobile</a></li>
                            <li><a href="#">Theme</a></li>
                            <li><a href="#">Events</a></li>
                            <li><a href="#">Car Template</a></li>
                            <li><a href="#">Buy Car</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog body end -->
{% endblock %}