{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block content %}

<!-- Banner start -->
<div class="banner banner_video_bg" id="banner">
    <div class="pattern-overlay">
       {#  <a id="bgndVideo" class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=5e0LxrLSzok',containment:'.banner_video_bg', quality:'large', autoPlay:true, mute:true, opacity:1}">bg</a> #}
    </div>
    <div id="bannerCarousole" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item banner-max-height active">
                <div class="carousel-caption banner-slider-inner d-flex h-100 text-center">
                    <div class="carousel-content container banner-info">
                        <div class="text-center">
                            <h3 class="text-uppercase">Welcome to Car Cmart</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            </p>
                            <div class="inline-search-area isa-2 ml-auto mr-auto none-768">
                                <div class="row row-3">
                                    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-6 search-col">
                                        <select class="selectpicker search-fields" name="select-brand">
                                            <option>Select Brand</option>
                                            <option>Audi</option>
                                            <option>BMW</option>
                                            <option>Honda</option>
                                            <option>Nissan</option>
                                        </select>
                                    </div>
                                    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-6 search-col">
                                        <select class="selectpicker search-fields" name="select-make">
                                            <option>Select Make</option>
                                            <option>BMW</option>
                                            <option>Honda</option>
                                            <option>Lamborghini</option>
                                            <option>Sports Car</option>
                                        </select>
                                    </div>
                                    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-6 search-col">
                                        <select class="selectpicker search-fields" name="select-location">
                                            <option>Select Location</option>
                                            <option>United States</option>
                                            <option>United Kingdom</option>
                                        </select>
                                    </div>
                                    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-6 search-col">
                                        <select class="selectpicker search-fields" name="select-year">
                                            <option>Select Year</option>
                                            <option>2016</option>
                                            <option>2017</option>
                                            <option>2018</option>
                                            <option>2019</option>
                                        </select>
                                    </div>
                                    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-6 search-col">
                                        <select class="selectpicker search-fields" name="select-type">
                                            <option>Select Type Of Car</option>
                                            <option>New Car</option>
                                            <option>Used Car</option>
                                        </select>
                                    </div>
                                    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-6 search-col">
                                        <button class="btn button-theme btn-search btn-block">
                                            <i class="fa fa-search"></i><strong>Find</strong>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner end -->

<!-- Search area 3 start -->
<div class="search-area-3 clearfix d-md-none d-lg-none d-xl-none">
    <div class="container">
        <div class="inline-search-area">
            <div class="row row-3">
                <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-6 search-col">
                    <select class="selectpicker search-fields" name="any-status">
                        <option>Any Status</option>
                        <option>For Rent</option>
                        <option>For Sale</option>
                    </select>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-6 search-col">
                    <select class="selectpicker search-fields" name="all-type">
                        <option>All Type</option>
                        <option>Apartments</option>
                        <option>Shop</option>
                        <option>Restaurant</option>
                        <option>Villa</option>
                    </select>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-6 search-col">
                    <select class="selectpicker search-fields" name="bedrooms">
                        <option>Bedrooms</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-6 search-col">
                    <select class="selectpicker search-fields" name="bathrooms">
                        <option>Bathrooms</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-6 search-col">
                    <select class="selectpicker search-fields" name="location">
                        <option>Location</option>
                        <option>American</option>
                        <option>Florida</option>
                        <option>Belgium</option>
                        <option>Canada</option>
                    </select>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-6 search-col">
                    <button class="btn button-theme btn-search btn-block">
                        <i class="fa fa-search"></i><strong>Find</strong>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Search area 3 end -->

<!-- Search Section start -->
<div class="search-section search-area pb-hediin-12 bg-grea animated fadeInDown" id="search-style-1">
    <div class="container">
        <div class="search-section-area">
            <div class="search-area-inner">
                <div class="search-contents">
                    <form method="GET">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-6 col-6">
                                <div class="form-group">
                                    <select class="selectpicker search-fields" name="any-status">
                                        <option>Any Status</option>
                                        <option>For Rent</option>
                                        <option>For Sale</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 col-6">
                                <div class="form-group">
                                    <select class="selectpicker search-fields" name="all-type">
                                        <option>All Type</option>
                                        <option>Apartments</option>
                                        <option>Shop</option>
                                        <option>Restaurant</option>
                                        <option>Villa</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 col-6">
                                <div class="form-group">
                                    <select class="selectpicker search-fields" name="bedrooms">
                                        <option>Bedrooms</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 col-6">
                                <div class="form-group">
                                    <select class="selectpicker search-fields" name="bathrooms">
                                        <option>Bathrooms</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 col-6">
                                <div class="form-group">
                                    <select class="selectpicker search-fields" name="location">
                                        <option>Location</option>
                                        <option>American</option>
                                        <option>Florida</option>
                                        <option>Belgium</option>
                                        <option>Canada</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 col-6">
                                <div class="form-group">
                                    <button class="search-button">Search</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Search Section end -->

<!-- Featured car start -->
<div class="featured-car content-area">
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1>Featured Cars</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="car-box">
                    <div class="car-thumbnail">
                        <a href="car-details.html" class="car-img">
                            <div class="tag">Featured</div>
                            <div class="price-box">$850.00</div>
                            <img class="d-block w-100" src="http://placehold.it/350x233" alt="car">
                        </a>
                    </div>
                    <div class="detail">
                        <h1 class="title">
                            <a href="car-grid-rightside.html">Toyota Prius</a>
                        </h1>
                        <div class="location">
                            <a href="car-details.html">
                                <i class="flaticon-pin"></i>123 Kathal St. Tampa City,
                            </a>
                        </div>
                        <ul class="facilities-list clearfix">
                            <li>
                                <i class="flaticon-way"></i> 4,000 km
                            </li>
                            <li>
                                <i class="flaticon-manual-transmission"></i> Manual
                            </li>
                            <li>
                                <i class="flaticon-calendar-1"></i> 2019
                            </li>
                            <li>
                                <i class="flaticon-fuel"></i> Petrol
                            </li>
                            <li>
                                <i class="flaticon-car"></i> Sport
                            </li>
                            <li>
                                <i class="flaticon-gear"></i> Blue
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="car-box">
                    <div class="car-thumbnail">
                        <a href="car-details.html" class="car-img">
                            <div class="tag">Featured</div>
                            <div class="price-box">$850.00</div>
                            <img class="d-block w-100" src="http://placehold.it/350x233" alt="car">
                        </a>
                    </div>
                    <div class="detail">
                        <h1 class="title">
                            <a href="car-grid-rightside.html">Toyota Prius specs</a>
                        </h1>
                        <div class="location">
                            <a href="car-details.html">
                                <i class="flaticon-pin"></i>123 Kathal St. Tampa City,
                            </a>
                        </div>
                        <ul class="facilities-list clearfix">
                            <li>
                                <i class="flaticon-way"></i> 4,000 km
                            </li>
                            <li>
                                <i class="flaticon-manual-transmission"></i> Manual
                            </li>
                            <li>
                                <i class="flaticon-calendar-1"></i> 2019
                            </li>
                            <li>
                                <i class="flaticon-fuel"></i> Petrol
                            </li>
                            <li>
                                <i class="flaticon-car"></i> Sport
                            </li>
                            <li>
                                <i class="flaticon-gear"></i> Blue
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="car-box">
                    <div class="car-thumbnail">
                        <a href="car-details.html" class="car-img">
                            <div class="tag">Featured</div>
                            <div class="price-box">$850.00</div>
                            <img class="d-block w-100" src="http://placehold.it/350x233" alt="car">
                        </a>
                    </div>
                    <div class="detail">
                        <h1 class="title">
                            <a href="car-grid-rightside.html">Lexus GS F</a>
                        </h1>
                        <div class="location">
                            <a href="car-details.html">
                                <i class="flaticon-pin"></i>123 Kathal St. Tampa City,
                            </a>
                        </div>
                        <ul class="facilities-list clearfix">
                            <li>
                                <i class="flaticon-way"></i> 4,000 km
                            </li>
                            <li>
                                <i class="flaticon-manual-transmission"></i> Manual
                            </li>
                            <li>
                                <i class="flaticon-calendar-1"></i> 2019
                            </li>
                            <li>
                                <i class="flaticon-fuel"></i> Petrol
                            </li>
                            <li>
                                <i class="flaticon-car"></i> Sport
                            </li>
                            <li>
                                <i class="flaticon-gear"></i> Blue
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="car-box">
                    <div class="car-thumbnail">
                        <a href="car-details.html" class="car-img">
                            <div class="tag">Featured</div>
                            <div class="price-box">$850.00</div>
                            <img class="d-block w-100" src="http://placehold.it/350x233" alt="car">
                        </a>
                    </div>
                    <div class="detail">
                        <h1 class="title">
                            <a href="car-grid-rightside.html">Hyundai Santa</a>
                        </h1>
                        <div class="location">
                            <a href="car-details.html">
                                <i class="flaticon-pin"></i>123 Kathal St. Tampa City,
                            </a>
                        </div>
                        <ul class="facilities-list clearfix">
                            <li>
                                <i class="flaticon-way"></i> 4,000 km
                            </li>
                            <li>
                                <i class="flaticon-manual-transmission"></i> Manual
                            </li>
                            <li>
                                <i class="flaticon-calendar-1"></i> 2019
                            </li>
                            <li>
                                <i class="flaticon-fuel"></i> Petrol
                            </li>
                            <li>
                                <i class="flaticon-car"></i> Sport
                            </li>
                            <li>
                                <i class="flaticon-gear"></i> Blue
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="car-box">
                    <div class="car-thumbnail">
                        <a href="car-details.html" class="car-img">
                            <div class="tag">Featured</div>
                            <div class="price-box">$850.00</div>
                            <img class="d-block w-100" src="http://placehold.it/350x233" alt="car">
                        </a>
                    </div>
                    <div class="detail">
                        <h1 class="title">
                            <a href="car-grid-rightside.html">Audi Q7 2018</a>
                        </h1>
                        <div class="location">
                            <a href="car-details.html">
                                <i class="flaticon-pin"></i>123 Kathal St. Tampa City,
                            </a>
                        </div>
                        <ul class="facilities-list clearfix">
                            <li>
                                <i class="flaticon-way"></i> 4,000 km
                            </li>
                            <li>
                                <i class="flaticon-manual-transmission"></i> Manual
                            </li>
                            <li>
                                <i class="flaticon-calendar-1"></i> 2019
                            </li>
                            <li>
                                <i class="flaticon-fuel"></i> Petrol
                            </li>
                            <li>
                                <i class="flaticon-car"></i> Sport
                            </li>
                            <li>
                                <i class="flaticon-gear"></i> Blue
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="car-box">
                    <div class="car-thumbnail">
                        <a href="car-details.html" class="car-img">
                            <div class="tag">Featured</div>
                            <div class="price-box">$850.00</div>
                            <img class="d-block w-100" src="http://placehold.it/350x233" alt="car">
                        </a>
                    </div>
                    <div class="detail">
                        <h1 class="title">
                            <a href="car-grid-rightside.html">2017 Ford Mustang</a>
                        </h1>
                        <div class="location">
                            <a href="car-details.html">
                                <i class="flaticon-pin"></i>123 Kathal St. Tampa City,
                            </a>
                        </div>
                        <ul class="facilities-list clearfix">
                            <li>
                                <i class="flaticon-way"></i> 4,000 km
                            </li>
                            <li>
                                <i class="flaticon-manual-transmission"></i> Manual
                            </li>
                            <li>
                                <i class="flaticon-calendar-1"></i> 2019
                            </li>
                            <li>
                                <i class="flaticon-fuel"></i> Petrol
                            </li>
                            <li>
                                <i class="flaticon-car"></i> Sport
                            </li>
                            <li>
                                <i class="flaticon-gear"></i> Blue
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Featured car end -->

<!-- advantages start -->
<div class="advantages content-area">
    <div class="container">
        <!-- Main title -->
        <div class="main-title-2 text-center">
            <h1>Our Advantages</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="advantages-box">
                    <div class="icon">
                        <i class="flaticon-shield"></i>
                    </div>
                    <div class="detail">
                        <h5>Highly  Secured</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec luctus tincidunt aliquam.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="advantages-box">
                    <div class="icon">
                        <i class="flaticon-deal"></i>
                    </div>
                    <div class="detail">
                        <h5>Trusted Agents</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec luctus tincidunt aliquam.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="advantages-box">
                    <div class="icon">
                        <i class="flaticon-money"></i>
                    </div>
                    <div class="detail">
                        <h5>Get an Offer</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec luctus tincidunt aliquam.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="advantages-box">
                    <div class="icon">
                        <i class="flaticon-support-2"></i>
                    </div>
                    <div class="detail">
                        <h5>Free Support</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec luctus tincidunt aliquam.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- advantages end -->

<!-- Latest offers Start -->
<div class="latest-offers categories content-area-13 bg-grea-3">
    <div class="container">
        <!-- Main title -->
        <div class="main-title text-center">
            <h1>Latest Offers</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
        </div>
        <div class="row row-2">
            <div class="col-lg-4 col-md-12">
                <div class="row">
                    <div class="col-md-6 col-lg-12 col-pad">
                        <div class="category">
                            <div class="category_bg_box cat-1-bg">
                                <div class="category-overlay">
                                    <div class="category-content">
                                        <h3 class="category-title">
                                            <a href="car-list-rightside.html">Toyota Prius specs</a>
                                        </h3>
                                        <h5 class="category-subtitle">$850.00</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-12 col-pad">
                        <div class="category">
                            <div class="category_bg_box cat-3-bg">
                                <div class="category-overlay">
                                    <div class="category-content">
                                        <h3 class="category-title">
                                            <a href="car-details.html">Lexus GS F</a>
                                        </h3>
                                        <h5 class="category-subtitle">$450.00</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-pad">
                <div class="category">
                    <div class="category_bg_box category_long_bg cat-4-bg">
                        <div class="category-overlay">
                            <div class="category-content">
                                <h3 class="category-title">
                                    <a href="#">Audi R8</a>
                                </h3>
                                <h5 class="category-subtitle">$150.00</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="row">
                    <div class="col-md-6 col-lg-12 col-pad">
                        <div class="category">
                            <div class="category_bg_box cat-2-bg">
                                <div class="category-overlay">
                                    <div class="category-content">
                                        <h3 class="category-title">
                                            <a href="car-list-rightside.html">Toyota Prius</a>
                                        </h3>
                                        <h5 class="category-subtitle">$350.000</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-12 col-pad">
                        <div class="category">
                            <div class="category_bg_box cat-5-bg">
                                <div class="category-overlay">
                                    <div class="category-content">
                                        <h3 class="category-title">
                                            <a href="car-details.html">2017 Ford Mustang</a>
                                        </h3>
                                        <h4 class="category-subtitle">98 Properties</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Latest offers end -->

<!-- Our team start -->
<div class="our-team content-area">
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1>Our Agent</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <div class="team-1">
                    <div class="team-photo">
                        <a href="#">
                            <img src="http://placehold.it/255x212" alt="agent" class="img-fluid">
                        </a>
                        <ul class="social-list clearfix">
                            <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" class="google"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-details">
                        <h5><a href="agent-detail.html">Michelle Nelson</a></h5>
                        <h6>Support Manager</h6>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <div class="team-1">
                    <div class="team-photo">
                        <a href="#">
                            <img src="http://placehold.it/255x212" alt="agent" class="img-fluid">
                        </a>
                        <ul class="social-list clearfix">
                            <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" class="google"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-details">
                        <h5><a href="agent-detail.html">Martin Smith</a></h5>
                        <h6>Web Developer</h6>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <div class="team-1">
                    <div class="team-photo">
                        <a href="#">
                            <img src="http://placehold.it/255x212" alt="agent" class="img-fluid">
                        </a>
                        <ul class="social-list clearfix">
                            <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" class="google"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-details">
                        <h5><a href="agent-detail.html">Carolyn Stone</a></h5>
                        <h6>Creative Director</h6>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <div class="team-1">
                    <div class="team-photo">
                        <a href="#">
                            <img src="http://placehold.it/255x212" alt="agent" class="img-fluid">
                        </a>
                        <ul class="social-list clearfix">
                            <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" class="google"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-details">
                        <h5><a href="agent-detail.html">Brandon Miller</a></h5>
                        <h6>Manager</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Our team end -->

<!-- Testimonial start -->
<div class="testimonial bg-grea-3 content-area-5">
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1>Our Testimonial</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
        </div>
        <!-- Slick slider area start -->
        <div class="slick-slider-area">
            <div class="row slick-carousel" data-slick='{"slidesToShow": 2, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 2}}, {"breakpoint": 768,"settings":{"slidesToShow": 1}}]}'>
                <div class="slick-slide-item">
                    <div class="testimonial-inner">
                        <div class="text-box">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</p>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                                <span>( 4 Reviews )</span>
                            </div>
                        </div>
                        <div class="user">
                            <div class="photo">
                                <img class="media-object" src="http://placehold.it/50x50" alt="user">
                            </div>
                            <div class="detail">
                                <h5>Maikel Alisa</h5>
                                <p>Web Designer, New York</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slick-slide-item">
                    <div class="testimonial-inner">
                        <div class="text-box">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</p>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                                <span>( 4 Reviews )</span>
                            </div>
                        </div>

                        <div class="user">
                            <div class="photo">
                                <img class="media-object" src="http://placehold.it/50x50" alt="user">
                            </div>
                            <div class="detail">
                                <h5>Maikel Alisa</h5>
                                <p>Creative Director, New York</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slick-slide-item">
                    <div class="testimonial-inner">
                        <div class="text-box">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</p>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                                <span>( 4 Reviews )</span>
                            </div>
                        </div>

                        <div class="user">
                            <div class="photo">
                                <img class="media-object" src="http://placehold.it/50x50" alt="user">
                            </div>
                            <div class="detail">
                                <h5>Auro Navanth</h5>
                                <p>Office Manager, New York</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="slick-prev slick-arrow-buton">
                <i class="fa fa-angle-left"></i>
            </div>
            <div class="slick-next slick-arrow-buton">
                <i class="fa fa-angle-right"></i>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial end -->

<!-- Blog start -->
<div class="blog content-area">
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1>Our Blog</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <!-- Slick slider area start -->
        <div class="slick-slider-area clearfix">
            <div class="row slick-carousel" data-slick='{"slidesToShow": 3, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 2}}, {"breakpoint": 768,"settings":{"slidesToShow": 1}}]}'>
                <div class="slick-slide-item">
                    <div class="blog-1">
                        <div class="blog-photo">
                            <img src="http://placehold.it/350x253" alt="small-blog" class="img-fluid">
                            <div class="date-box">
                                <span>14</span>Nov
                            </div>
                        </div>
                        <div class="detail">
                            <h4>
                                <a href="blog-details.html">Elegant Audi Car</a>
                            </h4>
                            <div class="post-meta clearfix">
                                <span><a href="#"><i class="flaticon-user-1"></i></a>Admin</span>
                                <span><a href="#"><i class="flaticon-comment"></i></a>17K</span>
                                <span><a href="#"><i class="flaticon-calendar"></i></a>73k</span>
                            </div>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry</p>
                        </div>
                    </div>
                </div>
                <div class="slick-slide-item">
                    <div class="blog-1">
                        <div class="blog-photo">
                            <img src="http://placehold.it/350x253" alt="small-blog" class="img-fluid">
                            <div class="date-box">
                                <span>14</span>Nov
                            </div>
                        </div>
                        <div class="detail">
                            <h4>
                                <a href="blog-details.html">2018 Lexus GS F</a>
                            </h4>
                            <div class="post-meta clearfix">
                                <span><a href="#"><i class="flaticon-user-1"></i></a>Admin</span>
                                <span><a href="#"><i class="flaticon-comment"></i></a>17K</span>
                                <span><a href="#"><i class="flaticon-calendar"></i></a>73k</span>
                            </div>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry</p>
                        </div>
                    </div>
                </div>
                <div class="slick-slide-item">
                    <div class="blog-1">
                        <div class="blog-photo">
                            <img src="http://placehold.it/350x253" alt="small-blog" class="img-fluid">
                            <div class="date-box">
                                <span>14</span>Nov
                            </div>
                        </div>
                        <div class="detail">
                            <h4>
                                <a href="blog-details.html">Audi R8</a>
                            </h4>
                            <div class="post-meta clearfix">
                                <span><a href="#"><i class="flaticon-user-1"></i></a>Admin</span>
                                <span><a href="#"><i class="flaticon-comment"></i></a>17K</span>
                                <span><a href="#"><i class="flaticon-calendar"></i></a>73k</span>
                            </div>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry</p>
                        </div>
                    </div>
                </div>
                <div class="slick-slide-item">
                    <div class="blog-1">
                        <div class="blog-photo">
                            <img src="http://placehold.it/350x253" alt="small-blog" class="img-fluid">
                            <div class="date-box">
                                <span>14</span>Nov
                            </div>
                        </div>
                        <div class="detail">
                            <h4>
                                <a href="blog-details.html">Audi R8</a>
                            </h4>
                            <div class="post-meta clearfix">
                                <span><a href="#"><i class="flaticon-user-1"></i></a>Admin</span>
                                <span><a href="#"><i class="flaticon-comment"></i></a>17K</span>
                                <span><a href="#"><i class="flaticon-calendar"></i></a>73k</span>
                            </div>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slick-prev slick-arrow-buton">
                <i class="fa fa-angle-left"></i>
            </div>
            <div class="slick-next slick-arrow-buton">
                <i class="fa fa-angle-right"></i>
            </div>
        </div>
    </div>
</div>
<!-- Blog end -->

<!-- Intro section start -->
<div class="intro-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-8 col-sm-12">
                <div class="intro-text">
                    <h3>Do You Have Questions ?</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12">
                <a href="contact.html" class="btn btn-md">Get in Touch</a>
            </div>
        </div>
    </div>
</div>
<!-- Intro section end -->
{% endblock %}
