{% extends 'base.html.twig' %}


{% block title %}{{ content.metatitle }}{% endblock %}
{% block meta_description %}
    <meta name="description" content="{{ content.metadescription}}">
{% endblock %}

{% block content %}
<!-- Sub banner start -->
<div class="sub-banner" style="background: rgba(0, 0, 0, 0.04) url({% path content.banner, 'reference' %});background-size: cover;
    height: 365px;background-position: center center;background-repeat: no-repeat;position: relative;">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Listado</h1>
            <ul class="breadcrumbs">
                <li><a href="{{ path('home') }}">Home</a></li>
                <li class="active">Automóviles</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->

<!-- Featured car start -->
<div class="featured-car content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <div class="sidebar-left">
                    <!-- Advanced search start -->
                    {% if request is defined %}
                        {% include 'automoviles/advanced_search.html.twig' with {'form': searchForm, 'request': request } %}
                    {% else %}
                        {% include 'automoviles/advanced_search.html.twig' with {'form': searchForm} %}
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-8 col-md-12">
                <!-- Option bar start -->
                <div class="option-bar clearfix">
                    <div class="sorting-options2">
                        <span class="sort">Sort by:</span>
                        <select class="selectpicker search-fields" name="default-order">
                            <option>Default Order</option>
                            <option>Precio Descendente</option>
                            <option>Precio Ascendente</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    {% for automovil in automoviles  %}
                    <div class="col-lg-6 col-md-6">
                       {% include 'layout/automovil.html.twig' with {'automovil': automovil } %}
                    </div>
                {% endfor %}
                </div>
                <!-- Page navigation start -->
                {{ knp_pagination_render(automoviles) }}
            </div>
        </div>
    </div>
</div>
<!-- Featured car end -->
{% endblock %}