ul{
    list-style:none !important;
}
.row-infringements{
    border-bottom: 1px solid #ccc;
}
.price-infringements{
    float: right;
}
.total-infringements{
    font-size: 16px;
    font-weight: 600;
    float: right;
}

