{% if object.popular == 0 %}
    <a class="btn btn-sm btn-danger view_link" href="{{ admin.generateObjectUrl('popular', object) }}">
        {#<i class="fa fa-times" aria-hidden="true"></i>#}
        No Popular
    </a>
{% elseif object.popular == 1 %}
    <a class="btn btn-sm btn-success view_link" href="{{ admin.generateObjectUrl('popular', object) }}">
        {#<i class="fa fa-check" aria-hidden="true"></i>#}
        Popular
    </a>
{% endif %}