<li class="dropdown user-menu list-unstyled">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-bell"></i>
        {% if notificationList|length > 0 %}
            {{ notificationList|length }}
        {% endif %}
    </a>
    <ul class="dropdown-menu dropdown-user">
        {% for item in notificationList %}
            <li class="bg-light notification-block">
                {% if item.seen == 1 %}
                    <form action="{{ mgilet_notification_generate_path('notification_mark_as_unseen', item.notifiableEntity, item.notification) }}"
                          method="post">
                        <button type="submit" class="btn-transparent"><i class="fa fa-envelope-open"></i></button>
                    </form>
                {% else %}
                    <form action="{{ mgilet_notification_generate_path('notification_mark_as_seen', item.notifiableEntity, item.notification) }}"
                          method="post">
                        <button type="submit" class="btn-transparent"><i class="fa fa-envelope-o"></i></button>
                    </form>
                {% endif %}
                <p class="notification-text">{{ item.notification }}</p>

            </li>
        {% endfor %}
    </ul>
</li>
