@import "variables";
@import "typography";
@import "buttons";
@import "menu";
@import "form";
@import "images";
@import "footer";
@import "home";
@import "contact";
@import "blog";
@import "responsive";

html,body{
  font-family: $font-roboto;
  color: $grey-3;
}

.wrapper{
  width: 100%;
}

.row{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}