<div class="widget search-box">
    <h3 class="sidebar-title">BUSCAR</h3>
    <div class="s-border"></div>
    <form class="form-inline form-search" method="POST">
        <div class="form-group">
            <label class="sr-only" for="textsearch2">Busca Novedades y Ofertas</label>
            <input type="text" class="form-control" id="textsearch2" name="search" placeholder="Busca Novedades y Ofertas">
        </div>
        <button type="submit" class="btn"><i class="fa fa-search"></i></button>
    </form>
</div>  