<div class="container">
	<div class="row">
		<img src="https://web.automovileslucentum.com/assets/images/logoCompleto.png" class="img-responsive">
		<div class="col-md-12">
			<h5 class="text-center">
				Has recibido un comentario!
			</h5>
			<p>
				Noticia: {{ datos.post.title }}
			</p>
			<p>
				Nombre: {{ datos.name }} <br>
			</p>
			<p>
				Email: {{ datos.email }}
			</p>
			<p>
				Comentario: {{ datos.message }}
			</p>
		</div>
	</div>
</div>
