<div class="container">
	<div class="row">
		<img src="{{ asset('favicon.ico') }}" class="img-responsive">
		<div class="col-md-12">
			<h5 class="text-center">
				Gracias por Registrarte en MOḦURE!
			</h5>
			<p>
				Para comenzar dirigete al siguiente link de confirmación: <a href="{{ url('login') }}"> Ingresar a mi cuenta </a>.<br>
			</p>
			<p>
				Nombre de Usuario : {{ user.email }} <br>
			</p>
			<p>
				Muchas Gracias por Registrarte en www.mohure.com
			</p>
		</div>
	</div>
</div>
