<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h5 class="text-justify">
				Nombre de Usuario: {{ datos.user.username }}
			</h5>
            <br>
			<p>
				Contraseña: {{ datos.pass }}
			</p>
		</div>
	</div>
</div>
